<!DOCTYPE html>
<html>

<head>
    <title>Battle log</title>
</head>

<body>

    On the faithful day of <%= log.time.toLocaleDateString() %> at <%= log.time.toLocaleTimeString() %>,<br>
    <%= log.attacker%> attacked <%= log.defender%>!<br>
    <br>
    <%= log.attacker %> dealt <%= log.attackDamage %> damage versus <%= log.defender %>'s <%= log.defenseDamage %>!<br>
    <br>
    <%= log.attackerLosses %> of the attackers' men perished to the defenders' <%= log.defenderLosses %>!<br>
    <br>
    <br>
    <br>
    The attackers got their hands on <%= log.goldLoot %> gold, <%= log.grainLoot %> grain, <%= log.lumberLoot %> lumber, <%= log.stoneLoot %> stone and <%= log.ironLoot %> 
    iron in the ensuing turmoil!
    <br>
    <br>
    <% if (log.attacker === username) {%>
        <form action=<%=attackUrl%> >
<input type="submit" value="Attack again!">
    </form>
        <% } else { %>
            <form action=<%=attackUrl%>>
            <input type="submit" value="Attack back!">
        </form>
        <%}%>
  

</body>

</html>