<!DOCTYPE html>
<html>

<head>
    <title>Battle log</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>

    On the faithful day of <%= log.time.toLocaleDateString() %> at <%= log.time.toLocaleTimeString() %>,<br>
    <%= log.attacker%> attacked <%= log.defender%>!<br>
    <br>
    <%= log.attacker %> dealt <%= log.attackDamage %> damage versus <%= log.defender %>'s <%= log.defenseDamage %>!<br>
    <br>
    <%= log.attackerLosses %> of the attackers' men perished to the defenders' <%= log.defenderLosses %>!<br>
    <br>
  
    There was <%= log.wallDamage %> damage to the walls!
    <br>  <br>
    
    The attackers got their hands on <%= log.grainLoot %> <img src="../../static/images/grain.png"
    title="Grain">, <%= log.lumberLoot %> <img src="../../static/images/wood.png"
    title="Lumber">, <%= log.stoneLoot %> <img src="../../static/images/stone.png" title="Stone">, <%= log.ironLoot %> <img src="../../static/images/iron-ingots.png" title="Iron"> and <%= log.goldLoot %> <img src="../../static/images/gold-ingots.png" title="Gold">
     in the ensuing turmoil!
    <br>
    <br>
    <% if (log.attacker === username) {%>
        <form action=<%=attackUrl%> method="post">
<input type="submit" value="Attack again!">
    </form>
        <% } else { %>
            <form action=<%=attackUrl%> method="post">
            <input type="submit" value="Attack back!">
        </form>
        <%}%>
  

</body>

</html>