<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->
    <!-- TODO Display max number of units/armor you can afford right now -->

    Barracks level: <%= user.barracksLevel %> <br><br>
        The barracks is where you train additional foot soldiers.<br>

        <div class="training">
            <br>
            <!-- Old validation: oninput="validity.valid||(value='');" -->
            <form action="/town/barracks/train" method="POST">
                <label for="archers"><img src="../static/images/archer.png" height="35px" title="Archer">
                    Current: <%= user.archers %> Train:</label>
                <input type="number" id="archers" name="archers" placeholder="0" min=0 max=1000 size="10"> Attack
                damage: <output id="archerAttackDamage">0</output> Defense damage: <output
                    id="archerDefenseDamage">0</output><br>
                <label for="spearmen"><img src="../static/images/spearman.png" height="35px" title="Spearman">
                    Current: <%= user.spearmen %> Train:</label>
                <input type="number" id="spearmen" name="spearmen" placeholder="0" min=0 max=1000> Attack damage:
                <output id="spearmanAttackDamage">0</output> Defense damage: <output
                    id="spearmanDefenseDamage">0</output><br>
                <label for="swordsmen"><img src="../static/images/swordsman.png" height="35px" title="Swordsman">
                    Current: <%= user.swordsmen %> Train:
                </label>
                <input type="number" id="swordsmen" name="swordsmen" placeholder="0" min=0 max=1000> Attack damage:
                <output id="swordsmanAttackDamage">0</output> Defense damage: <output
                    id="swordsmanDefenseDamage">0</output><br><br>
                <div class="resources">Training cost: <output id="grain">0</output> <img
                        src="../static/images/grain.png" alt="Grain" title="Grain">, <output id="lumber">0</output> <img
                        src="../static/images/wood.png" alt="Lumber" title="Lumber">, <output id="iron">0</output> <img
                        src="../static/images/iron-ingots.png" alt="Iron" title="Iron">,
                    <output id="gold">0</output> <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold">
                    and
                    <output id="recruits">0</output>
                    <img src="../static/images/recruit.png" alt="Recruits" title="Recruits">

                </div>
                <br>
                <input type="submit" class="submitButton" value="Train">
            </form>

        </div>
        <br>
        <% if (user.barracksLevel <=19){ %>
            <div class="resources">
                Upgrade cost: <%= totalCost.lumberCost %> <img src="../static/images/wood.png" alt="Lumber"
                        title="Lumber">, <%= totalCost.stoneCost %> <img src="../static/images/stone.png" alt="Stone"
                            title="Stone">, <%= totalCost.ironCost %>
                            <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"> and <%=
                                totalCost.goldCost %>
                                <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"></div><br>
            <form action="/town/barracks/upgrade" method="POST">
                <input type="submit" class="submitButton" value="Upgrade">
            </form>
            <% } else { %>
                The barracks is already at max level!
                <% } %>
                    <script type="text/javascript" src="../static/barracks.js"></script>


</body>

</html>