<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->
    <!-- TODO Display max number of units/armor you can afford right now -->

    Gold: <%= gold %> <img src="../static/iron-ingots.png" alt="Iron" style="width:25px;height:auto;vertical-align:middle;"> <%= iron %> <img src="../static/wood2.png" 
    alt="Lumber" style="width:25px;height:auto;vertical-align:middle;"> <%= lumber %> <img src="../static/stone.png" alt="Stone" style="width:25px;height:auto;vertical-align:middle;"> 
    <%= stone %> <img src="../static/grain.png" alt="Grain" style="width:25px;height:auto;vertical-align:middle;"> <%= grain %>  Recruits: <%= recruits %> Horses: <%= horses %> <br>
    <br>
    Barracks level: <%= barracks %> <br>
    <br>
    Archers: <%= archers %> <br>
    Spearmen: <%= spearmen %> <br>
    Swordsmen: <%= swordsmen %> <br>
    <br>
    <form action="/town/barracks/train" method="POST">
        <label for="archers">Archers:</label>
        <input type="number" id="archers" name="archers" value="0" oninput="calcFunc(this.value)" min=0 oninput="validity.valid||(value='');"><br>
        <label for="spearmen">Spearmen:</label>
        <input type="number" id="spearmen" name="spearmen" value="0" oninput="calcFunc(this.value)" min=0 oninput="validity.valid||(value='');"><br>
        <label for="swordsmen">Swordsmen:</label>
        <input type="number" id="swordsmen" name="swordsmen" value="0" oninput="calcFunc(this.value)" min=0 oninput="validity.valid||(value='');"><br><br>
        Training cost: <output id="grain">0</output> grain, <output id="lumber">0</output> lumber, <output id="iron">0</output> iron, <output id="gold">0</output>
        gold and <output id="recruits">0</output> recuits. <br>

        <input type="submit" value="Train">
    </form>
    <br>
  
    <form action="/town/barracks/upgrade" method="POST">
        <input type="submit" value="Upgrade">
    </form>

 
    <script>
        
        function calcFunc(val) {

            grainCost = parseInt(document.getElementById('archers').value) * 10;
            lumberCost = parseInt(document.getElementById('archers').value) * 20;
            goldCost = parseInt(document.getElementById('archers').value) * 10;
            ironCost = 0;
       
            grainCost += parseInt(document.getElementById('spearmen').value) * 10;
            lumberCost += parseInt(document.getElementById('spearmen').value) * 5;

            grainCost += parseInt(document.getElementById('swordsmen').value) * 10;
            ironCost += parseInt(document.getElementById('swordsmen').value) * 20;
            goldCost += parseInt(document.getElementById('swordsmen').value) * 10;

            document.getElementById("grain").innerHTML = grainCost; 
            document.getElementById("lumber").innerHTML = lumberCost; 
            document.getElementById("iron").innerHTML = ironCost; 
            document.getElementById("gold").innerHTML = goldCost; 
            document.getElementById("recruits").innerHTML = parseInt(document.getElementById('archers').value) + parseInt(document.getElementById('spearmen').value) 
            + parseInt(document.getElementById('swordsmen').value); 

        }

    </script>
        



    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>