<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Gold: <%= gold %> <br>
        Iron: <%= iron %> <br>
            Lumber: <%= lumber %> <br>
                Stone: <%= stone %> <br>
                    Grain: <%= grain %> <br>

                        Archers: <%= archers %> <br>
                            Spearmen: <%= spearmen %>

                                <form action="/train">
                                    <label for="archers">Archers:</label><br>
                                    <input type="text" id="archers" name="archers" value="0"><br>
                                    <label for="spearmen">Spearmen:</label><br>
                                    <input type="text" id="spearmen" name="spearmen" value="0"><br><br>
                                    <input type="submit" value="Submit">
                                </form>

</body>

</html>