<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->
    <!-- TODO Display max number of units/armor you can afford right now -->

    Gold: <%= gold %> Iron: <%= iron %> Lumber: <%= lumber %> Stone: <%= stone %> Grain: <%= grain %>  Recruits: <%= recruits %> Horses: <%= horses %> <br>
    <br>
    Barracks level: <%= barracks %> <br>
    <br>
    Archers: <%= archers %> <br>
    Spearmen: <%= spearmen %> <br>
    <br>
    <form action="/town/barracks/train" method="POST">
        <label for="archers">Archers:</label><br>
        <input type="number" id="archers" name="archers" value="0"><br>
        <label for="spearmen">Spearmen:</label><br>
        <input type="number" id="spearmen" name="spearmen" value="0"><br><br>
        <input type="submit" value="Train">
    </form>
    <br>
    <form action="/town/barracks/upgrade" method="POST">
        <input type="submit" value="Upgrade">
    </form>

    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>