<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Gold: <%= user.gold %> Iron: <%= user.iron %> Lumber: <%= user.lumber %> Stone: <%= user.stone %> Grain: <%= user.grain %>  Recruits: <%= user.recruits %> Horses: <%= user.horses %> <br>

    Barracks level: <%= user.barracksLevel %> <br>

    Archers: <%= user.archers %> <br>
    Spearmen: <%= user.spearmen %>

    <form action="/town/barracks/train" method="POST">
        <label for="archers">Archers:</label><br>
        <input type="number" id="archers" name="archers" value="0"><br>
        <label for="spearmen">Spearmen:</label><br>
        <input type="number" id="spearmen" name="spearmen" value="0"><br><br>
        <input type="submit" value="Submit">
    </form>

    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>