<!DOCTYPE html>
<html>

<head>
    <title>Barracks</title>
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Gold: <%= gold %> Iron: <%= iron %> Lumber: <%= lumber %> Stone: <%= stone %> Grain: <%= grain %> <br>

    Barracks level: <%= barracks %> <br>

    Archers: <%= archers %> <br>
    Spearmen: <%= spearmen %>

    <form action="/town/barracks/train" method="POST">
        <label for="archers">Archers:</label><br>
        <input type="number" id="archers" name="archers" value="0"><br>
        <label for="spearmen">Spearmen:</label><br>
        <input type="number" id="spearmen" name="spearmen" value="0"><br><br>
        <input type="submit" value="Submit">
    </form>

    <a href="/town">Town</a> <a href="/land">Land</a>

</body>

</html>