<!DOCTYPE html>
<html>

<head>
    <title>
        Empty <%= title.toLowerCase() %>
    </title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    There is no <%= title.toLowerCase() %> here yet!<br><br>

        <div class="resources"> Cost to establish: <%= totalCost.lumberCost %> <img src="../../static/images/wood.png"
                    height="35px" title="Lumber">
                <%= totalCost.stoneCost %> <img src="../../static/images/stone.png" height="35px" title="Stone">
                    <%= totalCost.ironCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron">
                        and <%= totalCost.goldCost %>
                            <img src="../../static/images/gold-ingots.png" height="35px" title="Gold"> </div><br>

        <form action="/land/<%= type %>/<%= resourceId %>/establish">
            <input type="submit" class="submitButton" value="Establish">
        </form>


</body>

</html>