<!DOCTYPE html>
<html>

<head>
    <title>
        Empty <%= resourceData.title.toLowerCase() %>
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <h1>There is no <%= resourceData.title.toLowerCase() %> here yet!</h1>

        <div class="resources"> Cost to establish: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
            <%= resourceData.totalCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                <%= resourceData.totalCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                <%= resourceData.totalCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                 <%= resourceData.totalCost.goldCost %></div><br>

        <form action="/land/<%= type %>/<%= resourceId %>/upgrade" method="post">
            <input type="submit" class="submitButton" value="Establish">
        </form>


</body>

</html>