<html>

<head>

    <title>Inbox</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

</head>

<body>



    <% if (messages.result.length> 0 ){ %>

        <% for (var i=0; i < messages.filteredResult.length; i++ ) { %>


            <% if (messages.filteredResult[i].sentBy===user.username) { %>

                <a href="/messages/inbox/<%= messages.filteredResult[i]._id %>">Message to <%=messages.filteredResult[i].sentTo%></a> at
                <%= messages.filteredResult[i].time.toLocaleDateString() %>
                    <%= messages.filteredResult[i].time.toLocaleTimeString() %><br>

                        <% } else { %>


                            <a href="/messages/inbox/<%= messages.filteredResult[i]._id %>">Message from
                                <%=messages.filteredResult[i].sentBy%>
                            </a> at
                            <%= messages.filteredResult[i].time.toLocaleDateString() %>
                                <%= messages.filteredResult[i].time.toLocaleTimeString() %><br>



                                    <% } %>




                                        <% } %>

                                            <div class="pagination">

                                                <% if ( messages.currentPage> 4){%>
                                                    <a href="/messages/inbox/page/<%= messages.currentPage -4%>">&laquo;</a>
                                                    <%}%>
                                                        <% if (messages.currentPage> 3) {%>
                                                            <a href="/messages/inbox/page/<%= messages.currentPage -3%>">
                                                                <%= messages.currentPage -3 %>
                                                            </a>
                                                            <%}%>
                                                                <% if (messages.currentPage> 2) {%>
                                                                    <a href="/messages/inbox/page/<%= messages.currentPage -2%>">
                                                                        <%= messages.currentPage -2 %>
                                                                    </a>
                                                                    <%}%>
                                                                        <% if (messages.currentPage> 1) {%>
                                                                            <a
                                                                                href="/messages/inbox/page/<%= messages.currentPage -1%>">
                                                                                <%= messages.currentPage -1 %>
                                                                            </a>
                                                                            <%}%>
                                                                                <a href="#" class="active">
                                                                                    <%= messages.currentPage %>
                                                                                </a>
                                                                                <% if (messages.currentPage<messages.maxPages ) {%>
                                                                                    <a
                                                                                        href="/messages/inbox/page/<%= messages.currentPage +1%>">
                                                                                        <%= messages.currentPage +1%>
                                                                                    </a>
                                                                                    <%}%>
                                                                                        <% if (messages.currentPage+1<messages.maxPages )
                                                                                            {%>
                                                                                            <a
                                                                                                href="/messages/inbox/page/<%= messages.currentPage +2%>">
                                                                                                <%= messages.currentPage +2%>
                                                                                            </a>
                                                                                            <%}%>
                                                                                                <% if
                                                                                                    (messages.currentPage+2<messages.maxPages
                                                                                                    ) {%>
                                                                                                    <a
                                                                                                        href="/messages/inbox/page/<%= messages.currentPage +3%>">
                                                                                                        <%= messages.currentPage
                                                                                                            +3%>
                                                                                                    </a>
                                                                                                    <%}%>
                                                                                                        <% if
                                                                                                            (messages.currentPage+3<messages.maxPages
                                                                                                            ) {%>
                                                                                                            <a
                                                                                                                href="/messages/inbox/page/<%= messages.currentPage +4%>">&raquo;</a>
                                                                                                            <%}%>
                                                                                                                <%} else
                                                                                                                    {%>
                                                                                                                    No
                                                                                                                    messages
                                                                                                                    <% }
                                                                                                                        %>

                                            </div>
                                            <br>






</body>

</html>