<!DOCTYPE html>
<html>

<head>
    <title>
        Land
    </title>

    <link rel="stylesheet" href="static/style.css">
</head>

<body>


<br>
    


    <div class="wrapper">
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/0"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[0] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/1"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[1] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/2"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[2] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/3"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[3] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/4"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[4] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/5"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[5] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/lumbercamp/6"><img src="static/images/trees.png" alt="lumbercamp" title="Lumbercamp" style="width:75px;height:auto"></a>
                <div class="centered"><%= l[6] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/0"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[0] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/1"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[1] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/2"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[2] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/3"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[3] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/4"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[4] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/town"><img src="static/images/village.png" alt="town" title="Town" style="width:75px;height:auto"></a>
                <div class="centered"></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/5"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[5] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/6"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[6] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/farm/7"><img src="static/images/vegetation.png" alt="farm" title="Farm" style="width:75px;height:auto"></a>
                <div class="centered"><%= f[7] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/goldMine/0"><img src="static/images/mountain-gold.png" alt="goldmine" title="Gold mine" style="width:75px;height:auto"></a>
                <div class="centered"><%= g[0] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/goldMine/1"><img src="static/images/mountain-gold.png" alt="goldmine" title="Gold mine"  style="width:75px;height:auto"></a>
                <div class="centered"><%= g[1] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/ironMine/0"><img src="static/images/mountain-iron.png" alt="ironmine" title="Iron mine" style="width:75px;height:auto"></a>
                <div class="centered"><%= i[0] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/ironMine/1"><img src="static/images/mountain-iron.png" alt="ironmine" title="Iron mine" style="width:75px;height:auto"></a>
                <div class="centered"><%= i[1] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/ironMine/2"><img src="static/images/mountain-iron.png" alt="ironmine" title="Iron mine" style="width:75px;height:auto"></a>
                <div class="centered"><%= i[2] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/quarry/0"><img src="static/images/mountain.png" alt="quarry" title="Quarry" style="width:75px;height:auto"></a>
                <div class="centered"><%= q[0] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/quarry/1"><img src="static/images/mountain.png" alt="quarry" title="Quarry" style="width:75px;height:auto"></a>
                <div class="centered"><%= q[1] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/quarry/2"><img src="static/images/mountain.png" alt="quarry" title="Quarry" style="width:75px;height:auto"></a>
                <div class="centered"><%= q[2] %></div>
              </div>
        </div>
        <div class="box box1">
            <div class="container">
                <a href="/land/quarry/3"><img src="static/images/mountain.png" alt="quarry" title="Quarry" style="width:75px;height:auto"></a>
                <div class="centered"><%= q[3] %></div>
              </div>
        </div>
      </div>

</body>

</html>