<!DOCTYPE html>
<html>

<head>
    <title>
        Land
    </title>
</head>

<body>

    <% for (var i=0; i < farms; i++ ) { %>
        <a href="/land/farm/<%= i %>">Farm</>
    <% } %>

    <br>

    <% for (var i=0; i < goldMines; i++ ) { %>
        <a href="/land/goldMine/<%= i %>">Gold mine</>
    <% } %>

    <br>

    <% for (var i=0; i < ironMines; i++ ) { %>
        <a href="/land/ironMine/<%= i %>">Iron mine</>
    <% } %>

    <br>

    <% for (var i=0; i < lumberCamps; i++ ) { %>
        <a href="/land/lumbercamp/<%= i %>">Lumber camp</>
    <% } %>
    
    <br>

    <% for (var i=0; i < quarries; i++ ) { %>
        <a href="/land/quarry/<%= i %>">Quarry</>
    <% } %>

    <br>
    <br>
    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>