<!DOCTYPE html>
<html>

<head>
    <title>Message</title>
</head>

<body>

    <% if(message.sentBy === "SYSTEM") { %>
        Sent by: SYSTEM  <br>
    <% }else if (user.username === message.sentBy){ %>
        Sent by: <%= message.sentBy %>  <br>
    <% }else{ %>
        Sent by: <a href=/profile/<%=message.sentBy %>> <%= message.sentBy %> </a> <br>
    <% } %>

    <% if(user.username === message.sentTo) { %>
        Sent to: <%= message.sentTo %>  <br>
    <% }else{ %>
        Sent to: <a href=/profile/<%=message.sentTo %>> <%= message.sentTo %> </a> <br>
    <% } %>
        
 
        Date: <%= message.time.toLocaleDateString() %> at <%= message.time.toLocaleTimeString() %><br><br>
                <%= message.message%>

                    <br>
                    <br>


                    <% if (message.sentBy !== "SYSTEM"){%>


                        <form action=" /messages/send/<%=message.sentBy%>" method="post">
                            <input type="text" name="message">
                            <input type="submit" value="Reply">
                        </form>

                        <form action=" /messages/inbox/<%=message._id%>/report" method="post">
                            <input type="submit" value="Report message">
                        </form>

                        <% } %>


</body>

</html>