<!DOCTYPE html>
<html>

<head>
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <% if(message.sentBy === "SYSTEM") { %>
        Sent by: SYSTEM  <br>
    <% }else if (user.username === message.sentBy){ %>
        Sent by: <%= message.sentBy %>  <br>
    <% }else{ %>
        Sent by: <a href=/profile/<%=message.sentBy %>> <%= message.sentBy %> </a> <br>
    <% } %>

    <% if(user.username === message.sentTo) { %>
        Sent to: <%= message.sentTo %>  <br>
    <% }else{ %>
        Sent to: <a href=/profile/<%=message.sentTo %>> <%= message.sentTo %> </a> <br>
    <% } %>
        
 
        Date: <%= message.time.toLocaleDateString() %> at <%= message.time.toLocaleTimeString() %><br><br>
                <%= message.message%>

                    <br>
                    <br>


                    <% if (message.sentBy !== "SYSTEM"){%>


                        <% if (message.sentBy === user.username){ %> 
                            <form action=" /messages/send" method="post">
                                <input type="hidden" id="recipient" name="recipient" value="<%=message.sentTo%>" maxlength="15" required>
                                <input type="text" name="message">
                                <input type="submit" class="submitButton" value="Send">
                            </form>
                        
                        <% }else { %>

                            <form action=" /messages/send" method="post">
                                <input type="hidden" id="recipient" name="recipient" value="<%=message.sentBy%>" maxlength="15" required>
                                <input type="text" name="message">
                                <input type="submit" class="submitButton" value="Reply">
                            </form>


                            <% } %>

                        <form action=" /messages/inbox/<%=message._id%>/report" method="post">
                            <input type="submit" class="submitButton" value="Report message">
                        </form>

                        <% } %>


</body>

</html>