<!DOCTYPE html>
<html>

<head>
    <title>Message</title>
</head>

<body>

    <%= message.sentBy%> tells us on <%= message.time.toLocaleDateString() %> at <%= message.time.toLocaleTimeString()
                %>,<br>
                <%= message.message%>

                    <br>
                    <br>

                    <form action="/mailbox/send/new/<%=message.sentBy%>" method="post">
                        <input type="text" name="messageText">
                        <input type="submit" value="Reply">
                    </form>



</body>

</html>