<!DOCTYPE html>
<html>

<head>
    <title>
        <%= username %>
    </title>
</head>

<body>


    <%= username %> <br>
    <br>
    Gold: <%= gold %> <br>
    Iron: <%= iron %> <br>
    Lumber: <%= lumber %> <br>
    Stone: <%= stone %> <br>
    Grain: <%= grain %> <br>
    <br>
    Archers: <%= archers %> <br>
    Spearmen: <%= spearmen %> <br>
    Swordsmen: <%= swordsmen %> <br>
    Horsemen: <%= horsemen %> <br>
    Knights: <%= knights %> 
   
</body>

</html>