<!DOCTYPE html>
<html>

<head>
    <title>
        <%= username %>
    </title>
</head>

<body>


    <%= username %> <br>


        Gold: <%= gold %> <br>
            Iron: <%= iron %> <br>
                Lumber: <%= lumber %> <br>
                    Stone: <%= stone %> <br>
                        Grain: <%= grain %> <br>

</body>

</html>