<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %> - Level: <%= resourceLevel %>
    </title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <%= title %> level: <%= resourceLevel %>
            <br>
            <br>
            The <%= title.toLowerCase() %> provides additional resources for your town.
                <br> <br>
                <% if (resourceLevel <=19){ %>
                    <div class="resources"> Upgrade cost: <%= lumberCost %> <img src="../../static/images/wood.png"
                                height="35px" title="Lumber">
                            <%= stoneCost %> <img src="../../static/images/stone.png" height="35px" title="Stone">
                                <%= ironCost %> <img src="../../static/images/iron-ingots.png" height="35px"
                                        title="Iron">
                                    and <%= goldCost %>
                                        <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                    </div>
                    <br>

                    <form action="/land/<%= title.toLowerCase().replace(/ /g, '') %>/<%= resourceId %>/upgrade">
                        <input type="submit" class="submitButton" value="Upgrade">
                    </form>

                    <% } else { %>
                        The <%= title.toLowerCase() %> is already at max level!
                            <% } %>

</body>

</html>