<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %> - Level: <%= resourceLevel %>
    </title>
</head>

<body>

    <%= title %> level: <%= resourceLevel %>

            <form action="/land/<%= title.toLowerCase().replace(/ /g, '') %>/<%= resourceId %>/upgrade">
                <input type="submit" value="Upgrade">
            </form>

            <button type="button"><a href="/land">Back</button>

    
</body>

</html>