<!DOCTYPE html>
<html>

<head>
    <title>
        <%= resourceData.title %> - Level: <%= resourceData.resourceLevel %>
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <h1><%= resourceData.title %> level: <%= resourceData.resourceLevel %></h1>
         
            <br>
            The <%= resourceData.title.toLowerCase() %> provides additional resources for your town.
                <br> <br>
                <% if (resourceData.resourceLevel <=19){ %>
                    Upgrading this resource will increase our income by <%= incomeBoost%>.<br><br>

                    <div class="resources"> Upgrade cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                        <%= resourceData.totalCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                            <%= resourceData.totalCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                            <%= resourceData.totalCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                             <%= resourceData.totalCost.goldCost %>
                    </div>
                    <br>

                    <form action="/land/<%= type %>/<%= resourceId %>/upgrade" method="post">
                        <input type="submit" class="submitButton" value="Upgrade">
                    </form>

                    <% } else { %>
                        The <%= resourceData.title.toLowerCase() %> is already at max level!
                            <% } %>

</body>

</html>