<!DOCTYPE html>
<html>

<head>
    <title>Stables</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <% if (user.stablesLevel===0){ %>

        We don't have a stable yet!<br>
        <br>
        <div class="resources"> Construct one for: <%= totalCost.lumberCost %> <img src="../static/images/wood.png"
                    height="35px" title="Lumber">
                <%= totalCost.stoneCost %> <img src="../static/images/stone.png" height="35px" title="Stone">
                    <%= totalCost.ironCost %> <img src="../static/images/iron-ingots.png" height="35px" title="Iron">
                        and <%= totalCost.goldCost %>
                            <img src="../static/images/gold-ingots.png" height="35px" title="Gold"> </div>

        <br>
        <form action="/town/stables/upgrade" method="POST">
            <input type="submit" class="submitButton" value="Construct">
        </form>

        <% } else { %>

            Stables level: <%= user.stablesLevel %> <br>
                <br>
                The stables is where you raise horses and train additional soldiers on horseback<br><br>
                <div class="training">
                    <form action="/town/stables/train" method="POST">
                        <label for="horsemen"><img src="../static/images/horseman.png" height="35px" title="Horseman">
                            Current: <%= user.horsemen %>
                                Train:</label>
                        <input type="number" id="horsemen" name="horsemen" placeholder="0" min=0 max=9999> Attack
                        damage: <output id="horsemanAttackDamage">0</output> Defense damage: <output
                            id="horsemanDefenseDamage">0</output><br>
                         <label for="knights"><img src="../static/images/knight.png" height="35px" title="Knight">
                            Current: <%= user.knights %>
                                Train:</label>
                        <% if (user.stablesLevel >= 5) { %>
                        <input type="number" id="knights" name="knights" placeholder="0" min=0 max=9999> 
                        <% } else { %>
                            <input type="number" id="knights" name="knights" placeholder="0" min=0 max=9999 disabled> 
                        <% } %>
                        Attack damage: <output id="knightAttackDamage">0</output> Defense damage: <output
                            id="knightDefenseDamage">0</output><br><br>
                        <div class="resources">Training cost: <output id="grain">0</output> <img
                                src="../static/images/grain.png" alt="Grain" title="Grain">, <output
                                id="iron">0</output> <img src="../static/images/iron-ingots.png" alt="Iron"
                                title="Iron">,
                            <output id="gold">0</output> <img src="../static/images/gold-ingots.png" alt="Gold"
                                title="Gold">, <output id="recruits">0</output>
                            <img src="../static/images/recruit.png" alt="Recruits" title="Recruits">
                            and <output id="horses">0</output> <img src="../static/images/horse.png" alt="Horses"
                                title="Horses">
                        </div><br>

                        <input type="submit" class="submitButton" value="Train">
                        <br>
                        <br>
                    </form>
                </div>

                <% if (user.stablesLevel <=19){ %>
                    <div class="resources">
                        Upgrade cost: <%= totalCost.lumberCost %> <img src="../static/images/wood.png" alt="Lumber"
                                title="Lumber">, <%= totalCost.stoneCost %> <img src="../static/images/stone.png"
                                    alt="Stone" title="Stone">, <%= totalCost.ironCost %>
                                    <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron">
                                    and <%= totalCost.goldCost %>
                                        <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"></div>
                    <br>
                    <form action="/town/stables/upgrade" method="POST">
                        <input type="submit" class="submitButton" value="Upgrade">
                    </form>
                    <% } else { %>
                        The stables are already at max level!
                        <% } %>

                            <% } %>
                                <script type="text/javascript" src="../static/js/stables.js"></script>
</body>

</html>