<!DOCTYPE html>
<html>

<head>
    <title>Stables</title>
    <script type="text/javascript" src="../static/calc.js"></script> 
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Gold: <%= gold %> Iron: <%= iron %> Lumber: <%= lumber %> Stone: <%= stone %> Grain: <%= grain %> Recruits: <%= recruits %> Horses: <%= horses %><br>
    <br>
    Stables level: <%= stables %> <br>
    <br>
    Horsemen: <%= horsemen %> <br>
    Knights: <%= knights %> <br>
    <br>
    <form action="/town/stables/train" method="POST">
        <label for="horsemen">Horsemen:</label><br>
        <input type="number" id="horsemen" name="horsemen" value="0" oninput="stablesTrainCost(this.value)" min=0 oninput="validity.valid||(value='');"><br>
        <label for="knights">Knights:</label><br>
        <input type="number" id="knights" name="knights" value="0" oninput="stablesTrainCost(this.value)" min=0 oninput="validity.valid||(value='');"><br><br>
        Training cost: <output id="grain">0</output> grain, <output id="lumber">0</output> lumber, <output id="iron">0</output> iron, 
        <output id="gold">0</output> gold, <output id="recruits">0</output> recuits and <output id="horses">0</output> horses.<br>

        <input type="submit" value="Train">
    </form>
  
    <br>
    <form action="/town/stables/upgrade" method="POST">
        <input type="submit" value="Upgrade">
    </form>

    <a href="/town">Town</a> <a href="/land">Land</a> <a href="/logout">Log out</a>

</body>

</html>