<!DOCTYPE html>
<html>

<head>
    <title>Training Field</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <h1>Training field level: <%= user.trainingfieldLevel %> </h1>
        <br>
        The training field gathers fresh recruits for your army. <br>
        <br>
        Current recruits income: <%= user.trainingfieldLevel * 5 %> <br>
        <br>
        <div class="resources">
            Upgrade cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
            <%= totalCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                <%= totalCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                <%= totalCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                 <%= totalCost.goldCost %></div><br>
        <% if (user.trainingfieldLevel <=19){ %>
            <form action="/town/trainingfield/upgrade" method="POST">
                <input type="submit" class="submitButton" value="Upgrade">
            </form>

            <% } else { %>

                The training field is already at max level!
                <% } %>
</body>

</html>