<!DOCTYPE html>
<html>

<head>
    <title>Training Field</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Training field level: <%= trainingField %> <br>
        <br>
        The training field gathers fresh recruits for your army.
        <br>
        <br>
        <div class="resources">
            Upgrade cost: <%= lumberCost %> <img src="../static/images/wood.png" alt="Lumber" title="Lumber">, <%=
                    stoneCost %> <img src="../static/images/stone.png" alt="Stone" title="Stone">, <%= ironCost %>
                        <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"> and <%= goldCost %>
                            <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"></div><br>
        <% if (trainingField <=19){ %>
            <form action="/town/trainingfield/upgrade" method="POST">
                <input type="submit" class="submitButton" value="Upgrade">
            </form>

            <% } else { %>

                The training field is already at max level!
                <% } %>
</body>

</html>