<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 100%;
      width: 12%;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: darkgrey;
      overflow-x: hidden;
      padding-top: 20px;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
    }

    .topnav {
      margin-left: 12%;
      height: 100px;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: darkgrey;
      overflow-x: hidden;
      padding-top: 20px;

    }

    .topnav a {
      padding: 6px 8px 6px 8px;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      float: left;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .topnav a:hover {
      color: #f1f1f1;
    }

    .sidenav t {
      margin-left: 10px;
    }

    .main {
      margin-left: 12%;
      /* Same as the width of the sidenav */
      margin-top: 120px;
      font-size: 28px;
      /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    /* Solid border */
    hr.solid {
      border-top: 3px solid white;
    }
  </style>
</head>

<body>

  <div class="topnav">
    <a href="/town" target="iframe">Town</a>
    <a href="/land" target="iframe">Land</a>
    <a href="/mailbox" target="iframe">Mailbox</a>
    <a href="/profile" target="iframe">Profile</a>
    <a href="/logout">Log out</a>
  </div>
  <div class="sidenav">
    <br>
    <br>
    <br>
    <br>
    <br>
    <t> <img src="../static/images/grain.png" alt="Grain" title="Grain"
        style="width:25px;height:auto;vertical-align:middle;"> <output id="grain">
        <%= grain %>
      </output> </t><br>
    <t> <img src="../static/images/wood.png" alt="Lumber" title="Lumber"
        style="width:25px;height:auto;vertical-align:middle;"> <output id="lumber">
        <%= lumber %>
      </output> </t><br>
    <t> <img src="../static/images/stone.png" alt="Stone" title="Stone"
        style="width:25px;height:auto;vertical-align:middle;"> <output id="stone">
        <%= stone %>
      </output> </t><br>
    <t> <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"
        style="width:25px;height:auto;vertical-align:middle;"> <output id="iron">
        <%= iron %>
      </output> </t><br>
    <t><img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"
        style="width:25px;height:auto;vertical-align:middle;"> <output id="gold">
        <%= gold %>
      </output> </t><br>
    <hr class="solid">
    <t><output id="recruits">Recruits: <%= recruits %></output></t><br>
    <t><output id="horses">Horses: <%= horses %></output></t><br>
    <hr class="solid">
    <t>Archers: <output id="archers">
        <%= archers %>
      </output></t><br>
    <t>Spearmen: <output id="spearmen">
        <%= spearmen %>
      </output></t><br>
    <t>Swordsmen: <output id="swordsmen">
        <%= swordsmen %>
      </output></t><br>
    <t>Horsemen: <output id="horsemen">
        <%= horsemen %>
      </output></t><br>
    <t>Knights: <output id="knights">
        <%= knights %>
      </output></t><br>
    <t>Battering rams: <output id="batteringrams">
        <%= batteringrams %>
      </output></t><br>
    <t>Siege towers: <output id="siegetowers">
        <%= siegetowers %>
      </output></t><br>
    <hr class="solid">
    <t>Attack power: <output id="attack">
        <%= attackValue %>
      </output></t><br>
    <t>Defense power: <output id="defense">
        <%= defenseValue %>
      </output></t><br>
    <t>Incomes</t>
  </div>



  <div class="main">
    <iframe src="/town" title="" style="position:absolute; width: 80%; height: 80%; border: none"
      name="iframe"></iframe>
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    //fix
    socket.on('sync', async function () {
      console.log("Socket connected.")
      await fetch(`/getUser/${socket.id}`)
    });

    socket.on('updateGrain', async function (msg) {
      document.getElementById("grain").innerHTML = msg;
    });
    socket.on('updateLumber', async function (msg) {
      document.getElementById("lumber").innerHTML = msg;
    });
    socket.on('updateStone', async function (msg) {
      document.getElementById("stone").innerHTML = msg;
    });
    socket.on('updateIron', async function (msg) {
      document.getElementById("iron").innerHTML = msg;
    });
    socket.on('updateGold', async function (msg) {
      document.getElementById("gold").innerHTML = msg;
    });
    socket.on('updateRecruits', async function (msg) {
      document.getElementById("recruits").innerHTML = msg;
    });
    socket.on('updateHorses', async function (msg) {
      document.getElementById("horses").innerHTML = msg;
    });
    socket.on('updateArchers', async function (msg) {
      document.getElementById("archers").innerHTML = msg;
    });
    socket.on('updateSpearmen', async function (msg) {
      document.getElementById("spearmen").innerHTML = msg;
    });
    socket.on('updateSwordsmen', async function (msg) {
      document.getElementById("swordsmen").innerHTML = msg;
    });
    socket.on('updateHorsemen', async function (msg) {
      document.getElementById("horsemen").innerHTML = msg;
    });
    socket.on('updateKnights', async function (msg) {
      document.getElementById("knights").innerHTML = msg;
    });
    socket.on('updateBatteringRams', async function (msg) {
      document.getElementById("batteringrams").innerHTML = msg;
    });
    socket.on('updateSiegeTowers', async function (msg) {
      document.getElementById("siegetowers").innerHTML = msg;
    });
    socket.on('updateAttackPower', async function (msg) {
      document.getElementById("attack").innerHTML = msg;
    });
    socket.on('updateDefensePower', async function (msg) {
      document.getElementById("defense").innerHTML = msg;
    });

  // socket.on('msg', async function (msg) {
  //   console.log(msg)
  // });

 // async function fetchAsync(url) {
 //    await fetch(url);
    //let data = await response.json();
   // return data.username;
 // }
  </script>

</body>

</html>