<!DOCTYPE html>
<html>

<head>
  <title>Vale of War</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/vale.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
  <div class="layout">
    <div class="top">
      <a href="/town" target="iframe">Town</a>
      <a href="/land" target="iframe">Land</a>
      <a href="/mailbox" target="iframe">Mailbox</a>
      <a href="/market" target="iframe">Market</a>
      <a href="/settings" target="iframe">Settings</a>
      <a href="/online" target="iframe">Online</a>
      <a href="https://docs.google.com/forms/d/1kzV7jGnobZi1lsJLO0effRiNHuPDMzcHV8vw8fyBajk/viewform?edit_requested=true">Contact</a>
      <a href="/logout">Log out</a>
    </div>
    <div class="side">

      <div class="divider">
        <span class="divider-line"></span>
        <span class="divider-content">
            Resources
        </span>
        <span class="divider-line"></span>
    </div><br>
      <t> <img src="../static/images/grain.png" alt="Grain" title="Grain"> <output id="grain">
          <%= grain %></output> (+<output id="grainIncome"><%= grainIncome%></output>) </t><br>
      <t> <img src="../static/images/wood.png" alt="Lumber" title="Lumber"> <output id="lumber">
          <%= lumber %></output> (+<output id="lumberIncome"><%= lumberIncome%></output>) </t><br>
      <t> <img src="../static/images/stone.png" alt="Stone" title="Stone"> <output id="stone">
          <%= stone %></output> (+<output id="stoneIncome"><%= stoneIncome%></output>) </t><br>
      <t> <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"> <output id="iron">
          <%= iron %></output> (+<output id="ironIncome"><%= ironIncome%></output>)</t><br>
      <t><img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"> <output id="gold">
          <%= gold %></output> (+<output id="goldIncome"><%= goldIncome%></output>)</t><br><br>
          <div class="divider">
            <span class="divider-line"></span>
            <span class="divider-content">
                Recruits
            </span>
            <span class="divider-line"></span>
        </div><br>
      <t> <img src="../static/images/recruit.png" alt="Recruits" title="Recruits"> <output id="recruits">
          <%= recruits %></output> (+<output id="recruitsIncome"><%= recruitsIncome%></output>)
      </t><br>
      <t> <img src="../static/images/horse.png" alt="Horses" title="Horses"> <output id="horses">
          <%= horses %></output> (+<output id="horseIncome"><%= horseIncome%></output>)
      </t><br>
      <br>
      <div class="divider">
        <span class="divider-line"></span>
        <span class="divider-content">
            Troops
        </span>
        <span class="divider-line"></span>
    </div><br>
      <t> <img src="../static/images/archer.png" alt="Archers" title="Archers"> <output id="archers">
          <%= archers %>
        </output></t><br>
      <t> <img src="../static/images/spearman.png" alt="Spearmen" title="Spearmen"> <output id="spearmen">
          <%= spearmen %>
        </output></t><br>
      <t> <img src="../static/images/swordsman.png" alt="Swordsmen" title="Swordsmen"> <output id="swordsmen">
          <%= swordsmen %>
        </output></t><br>
      <t> <img src="../static/images/horseman.png" alt="Horsemen" title="Horsemen"> <output id="horsemen">
          <%= horsemen %>
        </output></t><br>
      <t> <img src="../static/images/knight.png" alt="Knights" title="Knights"> <output id="knights">
          <%= knights %>
        </output></t><br>
      <t> <img src="../static/images/batteringram.png" alt="Battering rams" title="Battering rams"> <output
          id="batteringrams">
          <%= batteringrams %>
        </output></t><br>
      <t> <img src="../static/images/siegetower.png" alt="Siege towers" title="Siege towers"> <output id="siegetowers">
          <%= siegetowers %>
        </output></t><br><br>
        <div class="divider">
          <span class="divider-line"></span>
          <span class="divider-content">
              Powers
          </span>
          <span class="divider-line"></span>
      </div>
      <br>
      <t><img src="../static/images/attack.png" alt="Attack damage" title="Attack damage"> <output id="attackdamage">
          <output id="attack">
            <%= attackValue %>
          </output></t><br>
      <t><img src="../static/images/defend.png" alt="Defense damage" title="Defense damage"> <output id="defensedamage">
          <output id="defense">
            <%= defenseValue %>
          </output></t><br>

      <a href="/credits">Credits</a>
    </div>
    <iframe src="/land" name="iframe"></iframe>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../static/socket.js"></script>
</body>

</html>