<!DOCTYPE html>
<html>

<head>
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <h1>Wall level: <%= user.wallLevel %></h1>
        
        Walls boost your defenses and hide part of your resources from enemy raiders.<br><br>

        <% if (user.currentWallHealth === 0){ %>
            Current defense bonus: +0%
       <% } else { %>
        Current defense bonus: +<%= defenseBonus %>%
        <% } %>
            <br><br>
            Wall health: <%= user.currentWallHealth %> out of <%= maxWallHealth %>.<br><br>

                    <% if (!atMaxHealth) { %>

                        <div class="resources">
                            Repair cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                            <%= repairCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                                <%= repairCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                                <%= repairCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                                 <%= repairCost.goldCost %>
                        </div>

                        <form action="/town/wall/repair" method="POST">
                            <input type="submit" class="submitButton" value="Repair">
                        </form><br>
                        <%}%>
                            <% if (user.wallLevel <=19){ %>
                                <div class="resources">
                                    Upgrade cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                                    <%= upgradeCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                                        <%= upgradeCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                                        <%= upgradeCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                                         <%= upgradeCost.goldCost %>
                                </div>
                                <br>
                                <form action="/town/wall/upgrade" method="POST">
                                    <input type="submit" class="submitButton" value="Upgrade">
                                </form>
                                <% }  %>
                                   

</body>

</html>