<!DOCTYPE html>
<html>

<head>
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <!-- TODO server check barrack exists and has levels-->

    Wall level: <%= user.wallLevel %> <br>
        <br>
        Walls boosts your defenses and hides part of your resources from enemy raiders.<br><br>

        <% if (user.currentWallHealth === 0){ %>
            Current defense bonus: +0%
       <% } else { %>
        Current defense bonus: +<%= defenseBonus %>%
        <% } %>
            <br><br>
            Wall health: <%= user.currentWallHealth %> out of <%= maxWallHealth %>.<br><br>

                    <% if (!atMaxHealth) { %>

                        <div class="resources">
                            Repair cost: <%= repairCost.lumberCost %> <img src="../static/images/wood.png"
                                    alt="Lumber" title="Lumber">,
                                <%= repairCost.stoneCost %> <img src="../static/images/stone.png" alt="Stone"
                                        title="Stone">, <%= repairCost.ironCost %>
                                        <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"> and
                                        <%= repairCost.goldCost %>
                                            <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold">
                        </div>

                        <form action="/town/wall/repair" method="POST">
                            <input type="submit" class="submitButton" value="Repair">
                        </form><br>
                        <%}%>
                            <% if (user.wallLevel <=19){ %>
                                <div class="resources">
                                    Upgrade cost: <%= upgradeCost.lumberCost %> <img src="../static/images/wood.png"
                                            alt="Lumber" title="Lumber">,
                                        <%= upgradeCost.stoneCost %> <img src="../static/images/stone.png" alt="Stone"
                                                title="Stone">, <%= upgradeCost.ironCost %>
                                                <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron"> and
                                                <%= upgradeCost.goldCost %>
                                                    <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold">
                                </div>
                                <br>
                                <form action="/town/wall/upgrade" method="POST">
                                    <input type="submit" class="submitButton" value="Upgrade">
                                </form>
                                <% } else { %>
                                    <br>
                                    The walls are already at max level!
                                    <% } %>

</body>

</html>