<!DOCTYPE html>
<html>

<head>
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <h1>Wall level: <%= user.wallLevel %></h1>
        
        Walls boost your defenses and hide part of your resources from enemy raiders.<br><br>

        <% if (user.currentWallHealth === 0){ %>
            Current defense bonus: +0%
       <% } else { %>
        Current defense bonus: +<%= defenseBonus %>%
        <% } %> (+10% per wall level)
            <br><br>
            Wall health: <%= user.currentWallHealth %> out of <%= maxWallHealth %>.<br><br>

                    <% if (!atMaxHealth) { %>


                        <div class="resources">
                            Cost to repair 10% of wall: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                            <%= partialRepairCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                                <%= partialRepairCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                                <%= partialRepairCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                                 <%= partialRepairCost.goldCost %>
                        </div>
                        <br>
                        <form action="/town/wall/repairPartial" method="POST">
                            <input type="submit" class="submitButton" value="Repair partially">
                        </form><br>

                        <div class="resources">
                            Full repair cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                            <%= fullRepairCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                                <%= fullRepairCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                                <%= fullRepairCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                                 <%= fullRepairCost.goldCost %>
                        </div>
                        <br>
                        <form action="/town/wall/repair" method="POST">
                            <input type="submit" class="submitButton" value="Repair completely">
                        </form><br>
                        <%}%>
                            <% if (user.wallLevel <=19){ %>
                                <div class="resources">
                                    Upgrade cost: <img src="../../static/images/wood.png" height="35px" title="Lumber"> 
                                    <%= upgradeCost.lumberCost %> <img src="../../static/images/stone.png" height="35px" title="Stone"> 
                                        <%= upgradeCost.stoneCost %> <img src="../../static/images/iron-ingots.png" height="35px" title="Iron"> 
                                        <%= upgradeCost.ironCost %> and <img src="../../static/images/gold-ingots.png" height="35px" title="Gold">
                                         <%= upgradeCost.goldCost %>
                                </div>
                                <br>
                                <form action="/town/wall/upgrade" method="POST">
                                    <input type="submit" class="submitButton" value="Upgrade">
                                </form>
                                <% }  %>
                                   

</body>

</html>