<!DOCTYPE html>
<html>

<head>
    <title>Workshop</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <% if (user.workshopLevel===0){ %>

        We don't have a workshop yet!<br>
        <br>
        <div class="resources"> Construct one for: <%= totalCost.lumberCost %> <img src="../static/images/wood.png"
                    height="35px" title="Lumber">
                <%= totalCost.stoneCost %> <img src="../static/images/stone.png" height="35px" title="Stone">
                    <%= totalCost.ironCost %> <img src="../static/images/iron-ingots.png" height="35px" title="Iron">
                        and <%= totalCost.goldCost %>
                            <img src="../static/images/gold-ingots.png" height="35px" title="Gold"> </div>

        <br>
        <form action="/town/workshop/upgrade" method="POST">
            <input type="submit" class="submitButton" value="Construct">
        </form>

        <% } else { %>

            Workshop level: <%= user.workshopLevel %> <br>
                <br>
                The workshop lets you construct powerful siege weapons. <br>
                <br>
                Battering rams require level 5. Siege towers require level 10. <br>
                <br>
                <div class="training">
                    <form action="/town/workshop/train" method="POST">
                        <label for="batteringram"><img src="../static/images/batteringram.png" height="35px"
                                title="Battering ram">
                            Current: <%= user.batteringrams %> Train:</label>
                            <% if (user.workshopLevel >= 5){ %>
                        <input type="number" id="batteringram" name="batteringram" placeholder="0" min=0 max=9999>
                        <% } else { %>
                            <input type="number" id="batteringram" name="batteringram" placeholder="0" min=0 max=9999 disabled>
                        <% } %>
                        Attack damage:
                        <output id="batteringramAttackDamage">0</output><br>
                        <label for="siegetower"><img src="../static/images/siegetower.png" height="35px"
                                title="Siege tower">
                            Current: <%= user.siegetowers %> Train:</label>
                            <% if (user.workshopLevel >= 10){ %>
                        <input type="number" id="siegetower" name="siegetower" placeholder="0" min=0 max=9999> 
                       <% } else { %>
                        <input type="number" id="siegetower" name="siegetower" placeholder="0" min=0 max=9999 disabled> 
                            <% } %>
                            Attack damage: <output id="siegetowerAttackDamage">0</output><br><br>
                        <div class="resources">Build cost: <output id="lumber">0</output> <img
                                src="../static/images/wood.png" alt="Lumber" title="Lumber">, <output
                                id="iron">0</output> <img src="../static/images/iron-ingots.png" alt="Iron"
                                title="Iron"> and
                            <output id="gold">0</output> <img src="../static/images/gold-ingots.png" alt="Gold"
                                title="Gold">
                        </div><br>
                        <input type="submit" class="submitButton" value="Build">
                    </form>
                </div>
                <br>
                <% if (user.workshopLevel <=19){ %>
                    <div class="resources">
                        Upgrade cost: <%= totalCost.lumberCost %> <img src="../static/images/wood.png" alt="Lumber"
                                title="Lumber">, <%= totalCost.stoneCost %> <img src="../static/images/stone.png"
                                    alt="Stone" title="Stone">, <%= totalCost.ironCost %>
                                    <img src="../static/images/iron-ingots.png" alt="Iron" title="Iron">
                                    and <%= totalCost.goldCost %>
                                        <img src="../static/images/gold-ingots.png" alt="Gold" title="Gold"></div><br>
                    <form action="/town/workshop/upgrade" method="POST">
                        <input type="submit" class="submitButton" value="Upgrade">
                    </form>
                    <% } else { %>
                        The workshop is already at max level!


                        <% } %>
                            <% } %>
                                <script type="text/javascript" src="../static/js/workshop.js"></script>
</body>

</html>